<div class="d-flex flex-column vh-100 bg-light">
    <div style="border: 1px solid #000000; height: 10%;" class="d-flex justify-content-center align-items-center">[search]</div>
    <div style="border: 1px solid #000000; height: 80%;" class="d-flex justify-content-center align-items-center">[contacts]</div>
    <div style="border: 1px solid #000000; height: 10%;" class="d-flex justify-content-center align-items-center">
        @if (user.img) {
            <img [src]="apiBaseUrl + '/img/' + user.img" alt="avatar" style="width:60px;height:60px;border-radius:50%;" />
            
        }
        
        <span>{{ user.alias }}</span>
    <button (click)="cerrarSesion()">Cerrar sesión</button> 
        
    </div>
</div>