<div>
    <div>
        <a class="link-primary" routerLink="/chat">Chat</a>
    </div>
    <div class="border d-flex flex-column p-2" style="height:80%;overflow-y:auto;">
        @for (user of usuariosEncontrados; track $index) {
        <div class="border-bottom py-4 mb-2">
            <img [src]="user.img
                    ? apiBaseUrl + '/img/' + user.img
                    : 'assets/default-avatar.jpg'" (error)="onImageError($event)" alt="avatar"
                style="width:60px;height:60px;border-radius:50%;object-fit:cover;" />
            {{ user.alias }}
        </div>
        }
    </div>
</div>