<div id="formulario" class="p-3 d-flex flex-column justify-content-center align-items-center">
    <h1 class="p-3">INICIAR SESIÓN</h1>
    <p style="color: red;" *ngIf="errorMessage">{{ errorMessage }}</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="d-flex gap-3 mb-3">
            <label class="form-label w-30" for="title">Usuario</label>
            <div class="w-70">
                <input class="form-control" id="username" formControlName="username" type="text" />
            </div>
        </div>
        <div class="d-flex gap-3 mb-3">
            <label class="form-label w-30" for="description">Contraseña</label>
            <div class="w-70">
                <input class="form-control" id="password" formControlName="password" type="password" />
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">Iniciar sesión</button>
        </div>
    </form>
    <a style="color: rgb(43, 43, 206);" routerLink="/register">Registrarse</a>
</div>