#chat-form {
    width: 99%;
    height: 90%;
    
}

.message-outgoing {
  background: rgba(110, 80, 55, 0.2);
  border: 1px solid rgba(110, 80, 55, 0.35);
  color: rgba(255, 255, 255, 0.8);
}

.msgContainer {
  --mx: 0;
  --my: 0;
  --a-x: calc(var(--mx) * 8px);
  --a-y: calc(var(--my) * 8px);
  --b-x: calc(var(--mx) * -6px);
  --b-y: calc(var(--my) * -6px);
  --c-x: calc(var(--mx) * 4px);
  --c-y: calc(var(--my) * 4px);

  background:
    repeating-linear-gradient(
        45deg,
        transparent calc(-650% / 13) calc(50% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(100% / 13),
        transparent 0 calc(150% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(200% / 13),
        transparent 0 calc(250% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(300% / 13)
      )
      calc(0px + var(--c-x)) calc(0px + var(--c-y)),
    repeating-linear-gradient(
        45deg,
        transparent calc(-650% / 13) calc(50% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(100% / 13),
        transparent 0 calc(150% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(200% / 13),
        transparent 0 calc(250% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(300% / 13)
      )
      calc(32px + var(--a-x)) calc(32px + var(--a-y)),
    repeating-linear-gradient(
        -45deg,
        transparent calc(-650% / 13) calc(50% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(100% / 13),
        transparent 0 calc(150% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(200% / 13),
        transparent 0 calc(250% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(300% / 13)
      )
      calc(0px + var(--b-x)) calc(0px + var(--b-y)),
    repeating-linear-gradient(
        -45deg,
        transparent calc(-650% / 13) calc(50% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(100% / 13),
        transparent 0 calc(150% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(200% / 13),
        transparent 0 calc(250% / 13),
        rgba(16, 15, 15, 0.3) 0 calc(300% / 13)
      )
      calc(32px + var(--a-x)) calc(32px + var(--a-y))
      transparent;

  background-size: 64px 64px;
}